<div class="container">
	<br>
	<br>
	<br>
	<h1>Cadastro de Cluster</h1>
	<form>
		<div class="form-group">
			<label for="name">Nome</label> <input type="text"
				class="form-control" name="name" [(ngModel)]="cluster.name"
				required>
		</div>
	<div class="form-group">
		<label for="vcenter">Cluster</label>
		<select name="vcenter" [ngModel]="vcenter.name">
	 <option [ngValue]="null" disabled>Escolha seu vcenter</option>
	 <option *ngFor="let vcenter of vcenters" [ngValue]="vcenter" requierd>
			 {{ vcenter.name }}
	 </option>
	 </select>
	</div>

		<button class="btn btn-success" *ngIf="cluster.id == null" (click)="addCluster()">Cadastrar</button>
		<button class="btn btn-success" *ngIf="cluster.id != null" (click)="updateCluster()">Atualizar</button>
	</form>

	<p></p>
	<table class="table">
		<tr>
			<th>Nome</th>
		</tr>
		<tr *ngFor="let cluster of clusters">
			<td>{{cluster.name}} </td>
			<button class="btn btn-success" (click)="loadCluster()">Carregar</button>
		</tr>
	</table>

</div>
